body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1399px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:390px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:390px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1361px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:12px;
  width:1361px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1361px;
  word-wrap:break-word;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:102px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:102px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1321px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:141px;
  width:1321px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1321px;
  white-space:nowrap;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:1201px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:1201px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:281px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:444px;
  width:489px;
  height:281px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:132px;
  width:485px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:739px;
  width:244px;
  height:33px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:2px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:779px;
  width:487px;
  height:1px;
  color:#999999;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:994px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:791px;
  width:994px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:994px;
  white-space:nowrap;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:109px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:306px;
  width:149px;
  height:109px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:107px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:425px;
  width:149px;
  height:107px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:83px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:545px;
  width:103px;
  height:83px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:83px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:548px;
  width:149px;
  height:83px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:88px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:644px;
  width:149px;
  height:88px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:100px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:746px;
  width:149px;
  height:100px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:281px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:444px;
  width:489px;
  height:281px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:132px;
  width:485px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:306px;
  width:149px;
  height:109px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:425px;
  width:149px;
  height:107px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:538px;
  width:149px;
  height:93px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:640px;
  width:149px;
  height:92px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:742px;
  width:149px;
  height:104px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:542px;
  width:103px;
  height:86px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:585px;
  width:0px;
  height:0px;
}
#u192_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u192_seg1 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:-228px;
  width:8px;
  height:232px;
}
#u192_seg2 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:-228px;
  width:22px;
  height:8px;
}
#u192_seg3 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-234px;
  width:20px;
  height:20px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-86px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:585px;
  width:0px;
  height:0px;
}
#u194_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u194_seg1 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:-110px;
  width:8px;
  height:114px;
}
#u194_seg2 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:-110px;
  width:22px;
  height:8px;
}
#u194_seg3 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-116px;
  width:20px;
  height:20px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:585px;
  width:0px;
  height:0px;
}
#u196_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:107px;
  height:8px;
}
#u196_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-10px;
  width:20px;
  height:20px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:585px;
  width:0px;
  height:0px;
}
#u198_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u198_seg1 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:-4px;
  width:8px;
  height:109px;
}
#u198_seg2 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:97px;
  width:22px;
  height:8px;
}
#u198_seg3 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:91px;
  width:20px;
  height:20px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:585px;
  width:0px;
  height:0px;
}
#u200_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u200_seg1 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:-4px;
  width:8px;
  height:217px;
}
#u200_seg2 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:205px;
  width:22px;
  height:8px;
}
#u200_seg3 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:199px;
  width:20px;
  height:20px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:63px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:585px;
  width:0px;
  height:0px;
}
#u202_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u202_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-10px;
  width:20px;
  height:20px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:1578px;
  width:244px;
  height:33px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:2px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1618px;
  width:487px;
  height:1px;
  color:#999999;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1630px;
  width:714px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  white-space:nowrap;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:109px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:1144px;
  width:149px;
  height:109px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:1144px;
  width:149px;
  height:109px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:109px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:1290px;
  width:149px;
  height:109px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:1290px;
  width:149px;
  height:109px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:86px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:1437px;
  width:149px;
  height:86px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:98px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:1554px;
  width:149px;
  height:98px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:1435px;
  width:149px;
  height:109px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:1554px;
  width:149px;
  height:109px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:278px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1277px;
  width:497px;
  height:278px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:1277px;
  width:499px;
  height:278px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:495px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:1416px;
  width:0px;
  height:0px;
}
#u230_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u230_seg1 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:-221px;
  width:8px;
  height:225px;
}
#u230_seg2 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:-221px;
  width:18px;
  height:8px;
}
#u230_seg3 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:-227px;
  width:20px;
  height:20px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-67px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:1490px;
  width:0px;
  height:0px;
}
#u232_seg0 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-4px;
  width:18px;
  height:8px;
}
#u232_seg1 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-149px;
  width:8px;
  height:153px;
}
#u232_seg2 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-149px;
  width:18px;
  height:8px;
}
#u232_seg3 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-155px;
  width:20px;
  height:20px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-80px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:1416px;
  width:0px;
  height:0px;
}
#u234_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u234_seg1 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:-4px;
  width:8px;
  height:201px;
}
#u234_seg2 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:189px;
  width:18px;
  height:8px;
}
#u234_seg3 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:183px;
  width:20px;
  height:20px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
